<app-before-login-navbar></app-before-login-navbar>
<form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
  <input type="text" placeholder="Search.." name="search2">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
<div class="row">
    <div class="row">
      <div class="card mt-4" id="card-inside">
        <div class="card-header">Featured</div>
        <app-movie-card></app-movie-card>
      </div>
    </div>
    <div class="row">
      <div class="card mt-4" id="card-inside">
        <div class="card-header">Upcoming</div>
        <app-movie-card></app-movie-card>
      </div>
    </div>
    <div class="row">
      <div class="card mt-4" id="card-inside">
        <div class="card-header">New Releases</div>
        <app-movie-card></app-movie-card>
      </div>
    </div>
</div>