<div class="card-body">
  <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div class="card h-50">
          <img src="./../../../assets/shutterIsland.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card h-50">
          <img src="./../../../assets/anabelle.jpg" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col">
        <div class="card h-50">
          <img src="./../../../assets/HarryPotter.jfif" class="card-img-top" alt="...">
        </div>
      </div>
      <div class="col">
          <div class="card h-50">
            <img src="./../../../assets/aviator.jpg" class="card-img-top" alt="...">
          </div>
      </div>
    </div>
</div>


