<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link" aria-current="true" [routerLink] = "['/movies']"  id="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink] = "['/featured']" id="featured">Featured</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink] = "['/newreleases']" id="newReleases">New Releases</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink] = "['/upcoming']" id="upcoming">Upcoming</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink] = "['/mylist' , userid]" id="myList">My List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink] = "['/upload']" *ngIf="isAdmin" id="uploadContent">Upload Content</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"  *ngIf="isAdmin" id="revokeSubscription">Revoke Subscription</a>
        </li>
        <li>
            <form class="example" style="margin-left:250px;max-width:300px">
                <input type="text" placeholder="Search.." name="search2">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>
