#isFeatured {
    margin-left: 20px;
    width: 16px;
    height: 16px;
}

#myfile, #availabilityStarts {
    margin-left: 10px;
}

label {
    margin-top: 10px;
}

button {
    position: relative;
    top:-15px;
}

.form-control {
    width: 480px;
}
