<app-after-login-navbar></app-after-login-navbar>
<div class="row">
    <div class="col">
        <div class="card h-50 mt-5">
            <img src="..." class="card-img-top" alt="...">
        </div>
        <br><br>
        <label for="myfile">Upload Movie Poster :</label>
        <input type="file" id="myfile" name="myfile">
    </div>
    <div class="col">
        <form  #addMovieForm = "ngForm" (ngSubmit)="Submit(addMovieForm)">
            <div class="form-group">
                <label for="movieName" class="form-label" >Name :</label>
                <input type="text" class="form-control" id="movieName" name="Name" ngModel required>
            </div>
            <div class="form-group">
                <label for="category"  class="form-label">Category :</label>
                <input type="text" class="form-control" id="category" Name="Category" ngModel required>
            </div>
            <div class="form-group">
                <label for="releaseDate"  class="form-label">Year of Release :</label>
                <input type="number" class="form-control" id="releaseDate"  name="YearOfRelease" ngModel required>
            </div>
            <div class="form-group">
                <label for="availabilityStarts">Availability Starts :</label>
                <input type="date" id="availabilityStarts" name="AvailabilityStarts" ngModel required>
            </div>
            <div class="form-group">
                <label for="description" class="form-label">Description :</label>
                <textarea id="description" class= "form-control" cols="40" rows="4" name="Description" ngModel required></textarea>
            </div>
            <div class="form-group">
                <label for="isFeatured">Is Featured :</label>
                <input type="checkbox" id="isFeatured" value="tick" name="IsFeatured" ngModel required>
            </div>
            <div class="form-group">
                <label for="myfile">Content Path :</label>
                <input type="file" id="myfile" name="ContentPath" ngModel required><br><br>
            </div>
            <button type="submit" class="btn btn-primary">Add New Movie</button>
        </form>
    </div>
</div>
