<app-after-login-navbar></app-after-login-navbar>
<div class="card text-center mt-4">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movies">Featured</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movies">New Releases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movies">Upcoming</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movies">My List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">Upload Content</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movies">Revoke Subscription</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
              <div class="card h-50">
                <img src="./../../../assets/shutterIsland.jpg" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="col">
              <div class="card h-50">
                <img src="./../../../assets/anabelle.jpg" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="col">
              <div class="card h-50">
                <img src="./../../../assets/HarryPotter.jfif" class="card-img-top" alt="...">
              </div>
            </div>
            <div class="col">
                <div class="card h-50" id="movie-card">
                  <img src="./../../../assets/aviator.jpg" class="card-img-top" alt="...">
                </div>
            </div>
          </div>
    </div>
</div>