<app-after-login-navbar></app-after-login-navbar>
<div class="card mt-4">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="/movies">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movies">Featured</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movies">New Releases</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movies">Upcoming</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movies">My List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">Upload Content</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/movies">Revoke Subscription</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                <img src="../../../assets/avatar.jfif" class="card-img-top" alt="..." id="in-view">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary mt-5">Add to list</button>
                <h5 class="mt-5">Avatar [2009]</h5>
                <p>
                Jake Sully and Ney'tiri have formed a family and are doing everything to stay 
                together. However, they must leave their home and explore the regions of Pandora. 
                When an ancient threat resurfaces, Jake must fight a difficult war against the humans.
                </p>
            </div>
        </div>
        <h4 class="mt-5">Similar movies</h4>
        <div class="row row-cols-1 row-cols-md-4 g-4 mt-2">
            <div class="col">
                <div class="card h-50">
                    <img src="./../../../assets/shutterIsland.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-50">
                    <img src="./../../../assets/anabelle.jpg" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-50">
                    <img src="./../../../assets/HarryPotter.jfif" class="card-img-top" alt="...">
                </div>
            </div>
            <div class="col">
                <div class="card h-50" id="movie-card">
                    <img src="./../../../assets/aviator.jpg" class="card-img-top" alt="...">
                </div>
            </div>
        </div>
    </div>
</div>